repos:
  # 1. Standard "Cleanup" Hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-merge-conflict

  # 2. Ruff (Linting + Formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3 
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  # 3. Jupyter Notebook Cleanup
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout